div{
    height: 0;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 5px solid orange;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    animation-name: water_drop;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes water_drop {
    from{
        height: 0;
    }
    to{
        height: 400px;
        opacity: 0;
    }
}