section{
    height: 100vh;
    width: 100vw;
    /*background-color: orange;*/
}
#abcd{
    height: 100vh;
    width: 400vw;
    /*background-color: mediumpurple;*/

    animation-name: try2;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.imgsss{
    margin: 0;
    display: inline;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.imgDiv{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: inline;
}
.imgDiv:first-child{
    left: 0;
}
.imgDiv:nth-child(2){
    left: 100vw;
}
.imgDiv:nth-child(3){
    left: 200vw;
}
.imgDiv:nth-child(4){
    left: 300vw;
}
@keyframes try2 {
    0%{
        margin-left: 0;
    }
    33.5%{
        margin-left: -100vw;
    }
    66.5%{
        margin-left: -200vw;
    }
    100%{
        margin-left: -300vw;
    }
}